
@font-face {
  font-family: "Marcellus";
  src: url("../Recursos/Marcellus-Regular.ttf"); }

@font-face {
  font-family: "Rubik";
  src: url("../Recursos/Rubik-VariableFont_wght.ttf"); }


* {
    margin: 0;
}

/* HOME*/

.banner {
    background-image: url(../Recursos/home\ portada.png);
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

}

.titulo-home {
    font-family: "Marcellus";
    color: #fff;
    font-size: 50px;
    margin-left: 50px;
}

.boton-banner {
    font-family: "Marcellus";
    background-color: #fff;
    font-size: 24px;
    border-color: #fff;
    border-radius: 15px;
    color: #79062E;
    margin-left: 50px;
}

.intro-servicios {
    background-color: #fff;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: baseline;
}

.productos-subtitulo {
    display: flex;
    justify-content: center;
}

.caja-reseña {
    background-color: #F0DADA;
    height: 350px;
    text-align: center;
    color: #79062E;
    padding-top: 40px;
    margin-top: 30px;
    height: auto;
    width: 100%;
}

.titulo-reseña {
    color: #79062E;
    padding-bottom: 15px;
}

.reseñas {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    width: 100%;
}

/* NOSOTROS*/

.alinear {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.items {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 133px;
}


/* SERVICIOS*/

.servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.servicios img {
    height: 250px;
    margin-top: 50px;
    padding: 15px;
}

.precios {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.promos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0DADA;
    padding: 50px;
    border-radius: 15px;
    margin: 30px;
    flex-wrap: wrap
}

.ofertas {
    color: #454550;
    font-size: 20px;
}

/* PRODUCTOS*/

.productos {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
}

.corporal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.facial {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.boton-productos {
    margin-top: 25px;
    border-radius: 10px;
    font-size: 24px;
}


/* CONTACTO*/

.formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Rubik";
    color: #454550;
    background: linear-gradient(#D59999, #fff);
    margin: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 15px;
    width: 500px;

}

.consulta {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 30px;
}

.horario {
    display: flex;
    margin-top: -13px;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    font-family: "Rubik";

}

input {
    font-family: "Marcellus";
    font-size: 14px;
    padding: 15px;
    border-radius: 15px;
    border-color: #D59999;
    color: #454550;
    margin: 20px;
}

input:focus {
    transform: scale(1.02);
    background-color: #F0DADA;
}

.enviar {
    font-family: "Marcellus";
    background-color: #79062E;
    font-size: 24px;
    border-color: #fff;
    border-radius: 15px;
    color: #fff;
    width: 150px;
}

.enviar:hover {
    color: #79062E;
    background-color: #fff;
}


/* GENERALES*/

button {
    font-family: "Marcellus";
    background-color: #fff;
    font-size: 24px;
    border-color: #fff;
    border-radius: 15px;
    color: #79062E;
}

button:hover {
    color: #fff;
    background-color: #79062E;
    transform: scale(1.2);
}

.header {
    display: flex;
    height: 100px;
    justify-content: space-between
}


li {
    margin: 20px;
}

ul {
    font-family: "Marcellus";
    font-size: 18px;
    display: flex;
    margin: 20px;
    right: 200px;
    list-style: none;
    flex-wrap: wrap;
    color: #fff;
}

a:hover {
    color: #79062E;
    font-style: oblique;
    text-decoration: underline;
}

a {
    color: #454550;
    text-decoration: none;
}

.logo {
    display: flex;
    height: 80px;
}


.seccion-rosa {
    background-color:#D59999;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 30px;
    padding-bottom: 15px;
}

.cta {
    font-size: 32px;
    color: #fff;
    display: flex;
    justify-content: center
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly
}

.foto-producto:hover {
    transform: scale(1.20);
}


.galeria p {
    text-align: center;
}

.galeria h3 {
    text-align: center;

}


.alinear {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    font-family: "Marcellus";
    color: #79062E;
    font-size: 40px;
    display: flex;
    justify-content: center
}

h2 {
    font-family: "Marcellus";
    color: #79062E;
    font-size: 32px;
    margin: 30px;
    display: flex;
    justify-content: center
}

h3 {
    font-family: "Marcellus";
    color: #454550;
    font-size: 24px;
    margin: 10px;
}

h4 {
    font-family: "Rubik";
    color: #454550;
    font-size: 20px;
}

h5 {
    font-family: "Marcellus";
    font-size: 18px;
    background-color: #D59999;
    color: #454550;
}

p {
    font-family: "Rubik";
    color: #454550;
    font-size: 18px;
}




.subtitulo {
    font-size: 24px;
    color: #fff;
}

.texto {
    font-family: "Rubik";
    color: #fff;
}

.footer {
    background-color: #D59999;
    color: #fff;
    font-family: "Rubik";
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    margin-top: 30px;
    height: 100px;
    width: 100%;
    margin-top: 150px;
}

/* MOBILE LAST*/

@media (max-width:617px) {


        .header {
        display: flex;
        height: 50px;
        justify-content: center;
        align-content: stretch;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    ul {
        font-family: "Marcellus";
        font-size: 12px;
        display: flex;
        list-style: none;
        flex-wrap: nowrap;
        align-items: center;
        padding: 0%;
        margin: 20px;
    }

/* Home*/

    .banner {
        margin-top: 150px;
        height: 150px;
    }

    .boton-banner {
        font-family: "Marcellus";
        background-color: #fff;
        font-size: 14px;
        border-color: #fff;
        border-radius: 15px;
        color: #79062E;
        margin-left: 50px;
    }

    .titulo-home {
        font-family: "Marcellus";
        color: #fff;
        font-size: 24px;
        padding: 0px;
        margin: left 0px;
    }

    .seccion-rosa {
        background-color: #D59999;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }
/* Sobre nosotros*/

.items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}


/* Generales*/
    .cta {
        font-size: 20px;
        color: #fff;
        display: flex;
        justify-content: center;
    }

    button {
        font-family: "Marcellus";
        background-color: #fff;
        font-size: 18px;
        border-color: #fff;
        border-radius: 15px;
        color: #79062E;
    }

    h1 {
        font-family: "Marcellus";
        color: #79062E;
        font-size: 30px;
        display: flex;
        justify-content: center;
        padding-top: 150px;
        margin-left: 15px;
        padding: 25px;
    }

    h2 {
        font-family: "Marcellus";
        color: #79062E;
        font-size: 24px;
        margin: 30px;
        display: flex;
        justify-content: center
    }

    h3 {
        font-family: "Marcellus";
        color: #454550;
        font-size: 20px;
    }

    h4 {
        font-family: "Rubik";
        color: #454550;
        font-size: 18px;
    }

    h5 {
        font-family: "Marcellus";
        font-size: 16px;
        background-color: #D59999;
        color: #454550;
    }

    p {
        font-family: "Rubik";
        color: #454550;
        font-size: 14px;
    }


}