.header {
    display: flex;
    height: 100px;
    justify-content: space-between
}
li {
    margin: 20px;
}

ul {
    font-family: "Marcellus";
    font-size: 18px;
    display: flex;
    margin: 20px;
    right: 200px;
    list-style: none;
    flex-wrap: wrap;
}

nav { 
    display: flex;
    flex-basis: auto;
    justify-content: space-evenly;
    align-items: center;
}
ul {
display: flex;
align-items: center;

}
