.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
  }
  
  li {
    margin: 20px;
  }
  
  ul {
    font-family: "Marcellus";
    font-size: 18px;
    display: flex;
    margin: 20px;
    right: 200px;
    list-style: none;
    flex-wrap: wrap;
  }
  
  a {
    color :#454550;
    text-decoration: none;
  }
  
  a:hover {
    color: #79062E;
    font-style: oblique;
    text-decoration: underline;
  }
  
  .navbar-nav {
    background-color: #fff;
    font-family: "Marcellus";
  }
  .navbar-collapse {
    background-color: #fff;
  }
  .container-fluid {background-color: #fff;}
  
  .logo {
    display: flex;
    height: 80px;
  }